langdetect==1.0.9
six==1.16.0
asgiref==3.6.0
beautifulsoup4==4.11.2
certifi==2022.12.7
charset-normalizer==3.0.1
distlib==0.3.6
Django==4.1.7
filelock==3.9.0
idna==3.4
numpy==1.25.1
opencv-python==4.8.0.74
packaging==23.1
Pillow==10.0.0
platformdirs==2.6.2
psycopg2-binary==2.9.6
pytesseract==0.3.10
python-dotenv==1.0.0
requests==2.28.2
soupsieve==2.4
sqlparse==0.4.3
tzdata==2023.3
urllib3==1.26.14
virtualenv==20.17.1
