{% extends 'base.html' %}
{% load static %}
{% block conteudo %}
<head>
    <link rel="stylesheet" href="{% static 'styles/usuario.css' %}">
</head>
<section class="conteudo">
    <section class="conteudo__formulario">
        <form class="formulario" action="{% url 'cadastro' %}" 
        method="POST">
            <h2>Crie uma nova conta</h2>
            {% for field in form.visible_fields %}
            <label class="formulario__label {field.}">
                {{ field.label }}
                {{ field }}
            </label>
            {% endfor %}
            <input class="formulario__botao botao" type="submit" value="Entrar">
            <a class="formulario__link" href="{% url 'login' %}">Já tem uma conta? Faça login agora!</a>
        </form>
    </section>
    <secion class="conteudo__imagem">
        <img class="vetor" src="{% static 'assets/desenhos/cadastro.svg' %}">
    </secion>
</section>
{% endblock %}
