{% extends 'base.html' %}
{% load static %}
{% block conteudo %}
<head>
    <title>Home | Literábito</title>
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
</head>
<section class="conteudo">
    <section class="conteudo__reconhecimento-texto">
        <h2 class="conteudo__titulo-principal">Novo reconhecimento de texto</h2>
        <p class="conteudo__descricao">Envie uma imagem, extraia o texto contido nela e salve como preferir!</p>
        <div class="reconhecimento-texto__grupo">
            <div class="reconhecimento-texto__card">
                <div class="reconhecimento-texto__imagem sem-imagem"></div>
                <form class="form" action="">
                    <img class="form__icone" src="{% static '/assets/icones/link.svg' %}" alt="Ícone de link">
                    <input class="form__input" type="text" id="link" name="link" placeholder="Inserir link de imagem">
                </form>
                <button class="botao">Extrair texto</button>
            </div>
            <div class="reconhecimento-texto__card">
                <div class="texto">
                </div>
                <div class="botoes">
                    <button class="botao2">Download</button>
                    <button class="botao2">Copiar</button>
                </div>
                <button class="botao">Extrair texto</button>
            </div>
        </div>
    </section>
    <section class="conteudo__meus-textos">
        <h2 class="conteudo__titulo-principal">Meus últimos textos</h2>
        <p class="conteudo__descricao">Veja aqui os últimos textos extraídos.</p>
        <a class="meus-textos__ver-mais">
            Ver mais
            <img src="{% static 'assets/icones/seta.svg' %}">
        </a>
        <div class="meus-textos__card">
        </div>
    </section>
</section>
{% endblock %}