{% block sidebar %}
    <section class="conteudo__formulario">
        <form class="formulario">
            <fieldset class="module {{ fieldset.classes }}">
                {% for line in fieldset %}
                    <div class="formulario__label{% if line.errors %} errors{% endif %}">
                        {% for field in line %}
                                {% if field.is_checkbox %}
                                <label class="custom-checkbox">
                                    <!-- <input type="checkbox"> -->
                                    {{ field.field }}
                                    <span class="checkmark"></span>
                                    {{ field.label_tag }}
                                </label>
                                {% else %}
                                    {{ field.label_tag }}
                                    {{ field.field }}
                                {% endif %}
                                {% if field.field.help_text %}
                                    <div class="help">
                                      {{ field.field.help_text|safe }}
                                    </div>
                                {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </fieldset>
        </form>
    </section>
{% endblock %}
