{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %} 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="shortcut icon" type="image/jpg" href="{% static 'assets/favicon/favicon.png' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'styles/reset.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/global.css' %}">
<link rel="stylesheet" href="{% static 'styles/cabecalho.css' %}">
<link rel="stylesheet" href="{% static 'styles/rodape.css' %}">
<link rel="stylesheet" href="{% static 'styles/menu_lateral.css' %}">
<link rel="stylesheet" href="{% static 'styles/meus_textos.css' %}">
<link rel="stylesheet" href="{% static 'styles/admin.css' %}">
<link rel="stylesheet" href="{% static 'styles/mensagem.css' %}">
{% block estilos %}{% endblock %}
<script src="{% static 'js/abrirMenu.js' %}"></script>
<script src="{% static 'js/temporizarMensagem.js' %}"></script>
{% endblock %}

{% block branding %}{% endblock %} 

{% block breadcrumbs %}{% endblock %}

{% block content_title %}{% endblock %}
{% block header %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block welcome-msg %}{% endblock %}
{% block content_subtitle %}{% endblock %}

{% block userlinks %}{% endblock %}

{% block app_list %}{% endblock %}
{% block content %}
<div class="pagina-inicial">
    {% include 'partials/_header.html' %}
    <main class="principal">
        {% block messages %}
        {% for message in messages %}
        <div class="mensagem {% if message.tags %}ativo{% endif %}">
            <div class="mensagem__conteudo">
                <i class="icon" data-status="{{ message.tags }}"></i>
                <span class="mensagem__conteudo__texto">
                    {{ message }}
                </span>
            </div>
            <i class="fechar"></i>
            <div class="progresso" data-status="{{ message.tags }}"></div>
        </div>
        {% endfor %}
        {% endblock messages %}
        {% if user.is_authenticated %}
        {% include 'partials/_menu_lateral.html' %}
        {% endif %}
        {% block conteudo %}
        {% endblock %}
    </main>
    {% include 'partials/_rodape.html' %}
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block context_extras %}{% endblock %}