{% extends "admin/base_site.html" %}
{% load static %}

<!-- {% block breadcrumbs %}{% endblock %} -->

{% block sidebar %}
{% include 'partials/_menu_lateral.html' %}
<section class="conteudo conteudo__meus-textos padding">
    {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
    <h2 class="conteudo__titulo-principal">Painel do Administrador</h2>
    {% block teste %}
    {{ block.super }}
    <div>
        <h2>Informações Adicionais</h2>
        <p>Total de Textos: {{ total_textos }}</p>
        <p>Tempo Médio de Processamento: {{ tempo_medio_processamento }}</p>
        <p>Total de Usuários: {{ total_usuarios }}</p>
    </div>
{% endblock %}
</section>
{% endblock %}
