{% extends 'base.html' %}
{% load static i18n %}

{% block conteudo %}
<head>
    <title>Login | Admin</title>
    <link rel="stylesheet" href="{% static 'styles/usuario.css' %}">
    <link rel="stylesheet" href="{% static "admin/css/login.css" %}">
    {{ form.media }}
</head>
<section class="conteudo padding">
    <section class="conteudo__formulario">

        {% if form.errors and not form.non_field_errors %}
        <p class="errornote">
        {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
        </p>
        {% endif %}

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="errornote">
            {{ error }}
        </p>
        {% endfor %}
        {% endif %}

        <form class="formulario" action="{{ app_path }}" method="post">
            {% csrf_token %}
            <h2>{% translate "Boas vindas de volta!" %}</h2>
            {% for field in form.visible_fields %}
            <label class="formulario__label">
                {{ field.label }}
                {{ field }}
                {% if field.label == 'Password' %}
                    <button type="button" class="formulario__botao--senha"></button>
                    {% url 'admin_password_reset' as password_reset_url %}
                    {% if password_reset_url %}
                    <a class="formulario__link senha" href="{{ password_reset_url }}">{% translate "Esqueci minha senha" %}</a>
                    {% endif %}
                {% endif %}
            </label>
            {% endfor %}
            <input class="formulario__botao botao" type="submit" value="{% translate 'Entrar' %}">
        </form>
    </section>
    <section class="conteudo__imagem imagem-login">
        <h2 class="conteudo__imagem__titulo">{% translate "Welcome Back to Admin Panel!" %}</h2>
        <p class="conteudo__imagem__paragrafo">{% translate "Login to access the admin panel." %}</p>
    </section>
</section>
<script src="{% static 'js/visualizarSenha.js' %}"></script>
{% endblock %}
