{% extends "admin/base_site.html" %}
{% load static %}

{% block tituloPagina %}Visualizar usuário{% endblock %}

{% block conteudo %}
<section class="conteudo padding">
    <h2 class="conteudo__titulo-principal">Visualizar usuário</h2>
    <p class="conteudo__descricao">Informações sobre a pessoa usuária {{ usuario.first_name }} {{ usuario.last_name }}.</p>
    <p>Email: {{ usuario.email }}</p>
    <p>Data de Registro: {{ usuario.date_joined }}</p>
    <p>Ativo: {{ usuario.is_active }}</p>
    <p>É Staff?: {{ usuario.is_staff }}</p>
    <p>É Admin?: {{ usuario.is_admin }}</p>

    <a href="{% url 'admin:index' %}">Voltar para o Painel do Administrador</a>
</section>
{% endblock %}
