{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Literábito</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500;700&family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'styles/global.css' %}">
    <link rel="stylesheet" href="{% static 'styles/menu_lateral.css' %}">
    <link rel="stylesheet" href="{% static 'styles/barra_pesquisa.css' %}">
    <link rel="stylesheet" href="{% static 'styles/prateleira.css' %}">
    <link rel="stylesheet" href="{% static 'styles/cabecalho.css' %}">
    <link rel="stylesheet" href="{% static 'styles/rodape.css' %}">
</head>

<body>
<div class="pagina-inicial">
    {% if request.path != '/' and request.path != '/apresentacao' %}
    {% include 'partials/_header.html' %}
    {% endif %}
    <main class="principal">
        {% if request.path != '/apresentacao' %}
            {% include 'partials/_menu_lateral.html' %}
        {% endif %}
        {% block conteudo %}
        {% endblock %}
    </main>
    {% include 'partials/_rodape.html' %}
</div>
</body>
</html>