body {
    background-color: var(--primary-light);
}

.conteudo {
    display: flex;
    justify-content: left;
    align-items: center;
}

.apresentacao {
    width: 60%;
}

.apresentacao__subtitulo {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--default-medium);
    margin: 1rem 0 2rem 0;
}


.apresentacao__paragrafo {
    font-size: 1.2rem;
    color: var(--default-medium);
    line-height: 2rem;
    margin-bottom: 2rem;
}