.form-pesquisa {
    display: flex;
    align-items: center;
    width: 600px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--default-light);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
  
  .pesquisa__input {
    flex: 1;
    height: 100%;
    padding: 0 1.2rem;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    color: var(--default-medium);
  }
  
  .pesquisa__input:focus {
    outline: none;
  }
  
  .pesquisa__icone {
    padding: .5em;
    cursor: pointer;
    width: 1.2rem;
    height: 1.5rem;
  }