.form-pesquisa {
  display: flex;
  align-items: center;
  width: 48rem;
  height: 40px;
  border-radius: 20px;
  background-color: var(--preto-100);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.pesquisa__input {
  flex: 1;
  height: 100%;
  padding: 0 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  color: var(--preto-500);
}

*::placeholder {
  color: var(--preto-600);
}

.pesquisa__input:focus {
  outline: none;
}

.pesquisa__icone {
  padding: .5em;
  cursor: pointer;
  width: 1.2rem;
  height: 1.5rem;
}

.busca__botao img{
  filter: invert(59%) sepia(0%) saturate(682%) hue-rotate(236deg) brightness(94%) contrast(83%);
}