:root {

    --primary-light: #D9E4FF;
    --primary-medium: #748CA3;
    --primary-dark: #383E54;
    --primary-extra-dark: #1C2135;

    --primary-medium-svg: invert(55%) sepia(14%) saturate(632%) hue-rotate(168deg) brightness(95%) contrast(93%);
    --primary-extra-dark-svg: invert(20%) sepia(8%) saturate(2272%) hue-rotate(190deg) brightness(96%) contrast(85%);

    --secondary-light: #4bcd8a;
    --secondary-dark: #3CBD7B;

    --link: #395AAC;

    --default-extra-light: #F9F9F9;
    --default-light: #EBEBEB;
    --default-medium: #525C65;
    --default-dark: #333;

    --font-titulo: 'Quicksand', sans-serif;
    --font-conteudo: 'IBM Plex Sans KR', sans-serif;

}

body {
    background-color: var(--default-extra-light);
    font-family: var(--font-conteudo);
    color: var(--default-dark)
}

input {
    font-family: var(--font-conteudo);
}

h1, h2, h3 {
    font-family: var(--font-titulo);
}

.pagina-principal {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.conteudo__titulo {
    font-size: 2rem;
    font-weight: 700;
    margin: 1em 0 2em 0;
}

.conteudo {
    padding-left: 6rem;
    padding-bottom: 5rem;
}

.home {
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home__paragrafo {
    margin: 1rem 0 2rem 0;
    color: var(--default-medium)
}

.botao {
    padding: .8em 1.8em;
    margin: 1rem 0 2rem 0;
    background-color: var(--secondary-dark);
    color: var(--primary-extra-dark);
    border-radius: 10px;
    font-weight: 500;
    border: none;
    transition: .5s all;
}

.botao:hover {
    cursor: pointer;
    background-color: var(--secondary-light);
}


