:root {

  --preto-50: #F9F9F9;
  --preto-100: #EEEEEE;
  --preto-200: #E3E3E3;
  --preto-500: #8B8B8B;
  --preto-600: #646464;
  --preto-800: #333333;

  -verde-50: #58CCC9;
  -verde-100: #89DBDA;
  -verde-200: #B8E8E8;
  -verde-300: #E3F6F6;
  -verde-800: #16827A;

  --azul-50: #EBEBF9;
  --azul-100: #CCCCF0;
  --azul-800: #403582;
  --azul-900: #312656;

  --roxo-50: #F6E3F6;
  --roxo-100: #E8B9E9;
  --roxo-600: #9B00AA;

  --font-titulo: 'Quicksand', sans-serif;
  --font-conteudo: 'Inter', sans-serif;
}

body {
    background-color: var(--preto-50);
    font-family: var(--font-conteudo);
    color: var(--preto-800);
}

input {
    font-family: var(--font-conteudo);
}

h1, h2, h3 {
    font-family: var(--font-titulo);
    color: var(--azul-900)
}

.pagina-principal {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.conteudo__titulo {
    font-size: 2rem;
    font-weight: 700;
    margin: 1em 0 2em 0;
}

.conteudo {
    padding: 1em 1em 1em 6em;
    height: 100vh;
}

.home {
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home__paragrafo {
    margin: 1rem 0 2rem 0;
    color: var(--default-medium)
}

.botao {
    padding: .8em 1.8em;
    margin: 1rem 0 2rem 0;
    background-color: var(--secondary-dark);
    color: var(--primary-extra-dark);
    border-radius: 10px;
    font-weight: 500;
    border: none;
    transition: .5s all;
}

.botao:hover {
    cursor: pointer;
    background-color: var(--secondary-light);
}

.minhas-leituras {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .minhas-leituras__titulo {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .minhas-leituras__livros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .minhas-leituras__livro {
    background-color: var(--default-light);
    width: 15rem;
    height: 22rem;
    margin: 1.5rem;
    border-radius: 1rem;
    position: relative;
  }
  
  .minhas-leituras__livro:hover .minhas-leituras__livro-opcoes {
    opacity: 1;
  }
  
  .minhas-leituras__livro-imagem {
    width: 100%;
    height: 70%;
    background-size: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  
  .minhas-leituras__livro-nome {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .minhas-leituras__livro-autor {
    font-size: 1rem;
    color: var(--default-medium);
    text-align: center;
  }
  
  .minhas-leituras__livro-opcoes {
    opacity: 0;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    transition: opacity 0.3s ease-in-out;
  }
  
  .minhas-leituras__livro-opcoes button {
    background-color: transparent;
    border: none;
    margin-left: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .minhas-caixas {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
  }
  
  .minhas-caixas__caixa {
    background-color: var(--default-light);
    width: 10rem;
    height: 10rem;
    margin: 0 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .minhas-caixas__caixa-titulo {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .minhas-caixas__caixa-quantidade {
    font-size: 2rem;
    font-weight: bold;
  }


