.menu-lateral {
    position: fixed;
    left: 0;
    top: 10px;
    bottom: 10px;
    height: auto;
    width: 4rem;
    background-color: var(--azul-50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    z-index: 1;
}

    
.menu-lateral__navegacao {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.menu-lateral__navegacao {
    margin-bottom: 10px;
}

.menu-lateral__navegacao a img {
    width: 2em;
    margin-bottom: 2em;
}

.menu-lateral__navegacao__link-icone{
    margin-bottom: 4rem;
}

.menu-lateral__navegacao__link-logout {
    margin-top: 4rem;
}

.menu-lateral__navegacao__link img{
    filter: var(--azul-50-filtro);
}

.menu-lateral__navegacao .ativo img{
    filter: var(--azul-900-filtro);
}
