.menu-lateral {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 6rem;
    background-color: var(--primary-light);
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    box-sizing: border-box;
}

.menu-lateral__navegacao {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.menu-lateral__navegacao {
    margin-bottom: 10px;
}
.menu-lateral__navegacao a img{
    fill: var(--primary-dark);
    width: 3em;
    margin-bottom: 2em;
}
.menu-lateral__navegacao a img:hover {
    fill: var(--primary-extra-dark);
}