.menu-lateral {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 4rem;
    background-color: var(--primary-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    box-sizing: border-box;
}

.menu-lateral__navegacao {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.menu-lateral__navegacao {
    margin-bottom: 10px;
}
.menu-lateral__navegacao a img{
    filter: var(--primary-medium-svg);
    width: 2em;
    margin-bottom: 2em;
    transition: .5s all;
}

.menu-lateral__navegacao .ativo img{
    filter: var(--primary-extra-dark-svg);
}

.menu-lateral__navegacao a img:hover {
    opacity: 0.8;
}