.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-dark);
    padding-left: 4rem
}

.rodape__texto {
    color: var(--default-light);
    padding-top: 2rem;
}