.cabecalho {
    width: 2rem;
    position: absolute;
}

.conteudo {
    display: flex;
    align-items: center;
    height: 100vh;
    position: fixed;
}

.botao {
    margin: 4rem 0 1rem 0;
    width: 100%;
}

.conteudo__imagem {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    background-color: var(--azul-50);
    border-radius: 40px 0 0 40px;
    padding: 0 8rem 0 10rem;
    width: 50%;
    height: 100%;
}

.formulario__group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 24rem;
    gap: 1rem;
}

.formulario__group input {
    width: 10.3rem;
}