.cabecalho {
    width: 2rem;
    position: absolute;
}

.conteudo {
    display: flex;
    align-items: center;
}

.conteudo__formulario {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo__formulario form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 2rem 2rem 8rem;
    width: 24rem;
}

.conteudo__formulario h2 {
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 1.2em;
}

.formulario__label {
    display: flex;
    flex-direction: column;
    color: var(--preto-800);
    font-size: 0.9rem;
    width: 100rem;
}

.formulario__label input {
    margin: .5rem 0 1rem 0;
    padding: .6rem;
    border: none;
    border-radius: 5px;
    background-color: var(--preto-100);
    color: var(--preto-500);
    box-shadow: var(--sombra);
    font-size: 16px;
    flex-grow: 1;
    display: inline;
}

.formulario input:focus {
    outline: none;
} 

.formulario__link {
    text-decoration: none;
    color: var(--azul-500);
    font-weight: 500;
    font-size: 0.9rem;
}

.senha {
    margin-left: auto;
}

.formulario__link:hover {
    text-decoration: underline;
}

.botao {
    margin: 4rem 0 1rem 0;
    width: 100%;
}

.conteudo__imagem {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    background-color: var(--azul-50);
    border-radius: 40px 0 0 40px;
    padding: 0 8rem 0 10rem;
    width: 50%;
    height: 100%;
}

.formulario__group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 24rem;
    gap: 1rem;
}

.formulario__group input {
    width: 10.3rem;
}