{% extends 'base.html' %}
{% load static %}
{% block conteudo %}
<head>
    <link rel="stylesheet" href="{% static 'styles/apresentacao.css' %}">
</head>
<section class="conteudo">
    <section class="conteudo__inicio">
        <h2 class="conteudo__inicio__destaque">
            Organize suas leituras de forma simples e construa um hábito de pessoa leitora.
        </h2>
        <img class="conteudo__desenho" src="{% static '/assets/desenhos/apresentacao.svg' %}">
    </section>
    <section id="sobre-nos" class="conteudo__sobre-nos">
        <h2 class="conteudo__titulo">
            Sobre nós
        </h2>
        <div class="conteudo__sobre-nos__textos">
            <div class="conteudo__paragrafos">
                <p class="conteudo__paragrafo">
                    Na Literábito, acreditamos que a leitura é uma das mais poderosas ferramentas para o desenvolvimento pessoal e intelectual. Uma leitura prazerosa e agregadora não depende apenas da pessoa e do seu livro, mas também de um hábito sólido e consistente, que pode ser construído por meio de uma organização eficaz.
                </p>
                <p class="conteudo__paragrafo">
                    Aqui na Literábito, você poderá organizar suas leituras de forma personalizada e adaptada às suas necessidades e gostos literários.
                </p>
            </div>
            <div class="conteudo__sobre-nos__funcionalidades">
                <span class="conteudo__sobre-nos__funcionalidades__item" id="pesquisar">
                    <img src="{% static '/assets/icones/pesquisar.svg' %}">
                    <p>Pesquise livros do seu interesse</p>
                </span>
                <span class="conteudo__sobre-nos__funcionalidades__item" id="estante">
                    <img src="{% static '/assets/icones/estante.svg' %}">
                    <p>Crie prateleiras e salves suas leituras nelas</p>
                </span>
                <span class="conteudo__sobre-nos__funcionalidades__item" id="dashboard">
                    <img src="{% static '/assets/icones/dashboard.svg' %}">
                    <p>Visualize sua produtividade de forma gráfica</p>
                </span>
            </div>
        </div>
    </section>
    <section id="contato" class="conteudo__contato">
        <h2 class="conteudo__titulo">Contato</h2>
        <div class="conteudo__contato__textos">
            <div class="conteudo__paragrafos">
                <p class="conteudo__paragrafo">
                    A Literábito está ansiosa para ouvir você! Seja para tirar dúvidas, fazer uma sugestão, relatar um problema ou simplesmente dizer olá, estamos sempre prontos para uma boa conversa. Nós valorizamos muito o feedback da nossa comunidade e estamos empenhados em fornecer o melhor atendimento possível.
                </p>
                <p class="conteudo__paragrafo">
                    Quer conhecer a Andrieli Gonçalves, pessoa desenvolvedora da Literábito? Acesse ao lado as suas principais formas de contato!
                </p>
            </div>
            <div class="conteudo__botoes">
                <a class="botao">Mande um e-mail para a Literábito</a>
                <h3>Andrieli Gonçalves</h3>
                <div>
                    <a class="botao">Github</a>
                    <a class="botao">E-mail</a>
                </div>
            </div>
    </div>
    </section>
</section>
{% endblock %}
