{% extends 'base.html' %}
{% load static %}
{% block conteudo %}
<head>
    <title>Literábito</title>
    <link rel="stylesheet" href="{% static 'styles/apresentacao.css' %}">
</head>
<section class="conteudo">
    <section class="conteudo__inicio">
        <h2 class="conteudo__inicio__destaque">
            Explore palavras em suas imagens, extraia textos com precisão e facilidade!
        </h2>
        <img class="vetor" src="{% static '/assets/desenhos/apresentacao.svg' %}">
    </section>
    <section id="sobre-nos" class="conteudo__sobre-nos">
        <h2 class="conteudo__titulo">
            Sobre nós
        </h2>
        <div class="conteudo__sobre-nos__textos">
            <div class="conteudo__paragrafos">
                <p class="conteudo__paragrafo">
                    A Voculary tem como objetivo facilitar a forma com que pessoas utilizam informações textuais contidas em imagens. Geralmente, necessita-se destes dados e nem sempre eles estão de fácil acesso, como em um arquivo de texto ou parar colarmos e copiarmos em outro lugar.
                </p>
                <p class="conteudo__paragrafo">
                    Com a Voculary, você pode realizar a conversão de imagem para texto de forma simples e intuitiva. Basta fazer o upload da imagem desejada e deixar nossa tecnologia inteligente fazer o trabalho pesado. Em questão de segundos, você terá acesso ao conteúdo textual extraído, pronto para ser copiado, salvo ou compartilhado conforme sua necessidade.
                </p>
            </div>
            <div class="conteudo__sobre-nos__funcionalidades">
                <span class="conteudo__sobre-nos__funcionalidades__item" id="pesquisar">
                    <p class="numero">01</p>
                    <p class="texto">Fazer upload e compartilhar links de arquivos de imagem</p>
                </span>
                <span class="conteudo__sobre-nos__funcionalidades__item" id="estante">
                    <p class="numero">02</p>
                    <p class="texto">Visualizar conversões dos conteúdos de imagens em texto</p>
                </span>
                <span class="conteudo__sobre-nos__funcionalidades__item" id="dashboard">
                    <p class="numero">03</p>
                    <p class="texto">Salvar em pastas, realizar download e copiar textos extraídos de imagens</p>
                </span>
            </div>
        </div>
    </section>
    <section id="contato" class="conteudo__contato">
        <h2 class="conteudo__titulo">Contato</h2>
        <div class="conteudo__contato__textos">
            <div class="conteudo__paragrafos">
                <p class="conteudo__paragrafo">
                    A Voculary está ansiosa para ouvir você! Seja para tirar dúvidas, fazer uma sugestão, relatar um problema ou simplesmente dizer olá, estamos sempre prontos para uma boa conversa. Nós valorizamos muito o feedback da nossa comunidade e estamos empenhados em fornecer o melhor atendimento possível.
                </p>
                <p class="conteudo__paragrafo">
                    Quer conhecer a Andrieli Gonçalves, pessoa desenvolvedora da Voculary? Acesse ao lado as suas principais formas de contato!
                </p>
            </div>
            <div class="conteudo__botoes">
                <a class="botao">Mande um e-mail para a Voculary</a>
                <h3>Andrieli Gonçalves</h3>
                <div>
                    <a class="botao">Github</a>
                    <a class="botao">E-mail</a>
                </div>
            </div>
    </div>
    </section>
</section>
{% endblock %}
