{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Literábito</title>
    <!-- <link rel="stylesheet" href="{% static 'styles/menu_lateral.css' %}"> -->
</head>
<section class="barra-pesquisa__conteudo">
    <h1 class="barra-pesquisa__titulo">Literábito</h1>
    <p class="barra-pesquisa__paragrafo">Tem interesse em um livro? Pesquise agora mesmo e inicie uma nova experiência literária.</p>
    <input class="barra-pesquisa__input" type="text" id="pesquisa" name="pesquisa" placeholder="Pesquisar livro">
</section>