{% load static %}
<section class="menu-lateral">
    <nav class="menu-lateral__navegacao">
        <a class="menu-lateral__navegacao__link {% if request.path == '/perfil' %}ativo{% endif %}" href=""><img src="{% static '/assets/icones/perfil.svg'%}"></a>
        <a class="menu-lateral__navegacao__link {% if request.path == '/home' %}ativo{% endif %}" href="{% url 'home' %}"><img src="{% static '/assets/icones/home.svg'%}"></a>
        <a class="menu-lateral__navegacao__link {% if request.path == '/estante' %}ativo{% endif %}" href="{% url 'estante' %}"><img src="{% static '/assets/icones/estante.svg'%}"></a>
        <a class="menu-lateral__navegacao__link {% if request.path == '/dashboard' %}ativo{% endif %}" href=""><img src="{% static '/assets/icones/dashboard.svg'%}"></a>
        <a class="menu-lateral__navegacao__link {% if request.path == '/logout' %}ativo{% endif %}" href=""><img src="{% static '/assets/icones/logout.svg'%}"></a>
    </nav>
</section>
