<section class="aba-lateral">
    <div class="aba-lateral__header">
        <div class="aba-lateral__botoes">
            <button class="botao botao-renomear aba-lateral__botao-renomear">Renomear</button>
            <button class="botao botao-excluir" data-message="Tem certeza de que deseja excluir este texto e imagem?">Excluir</button>
        </div>
        <i class="fechar"></i>
    </div>
    <div class="aba-lateral__secao">
        <h4 class="aba-lateral__titulo nome-arquivo"></h4>
        <p class="aba-lateral__descricao"></p>
    </div>
    <div class="aba-lateral__secao">
        <h5 class="aba-lateral__subtitulo">Imagem</h5>
        <div class="imagem">
            <div class="reconhecimento-texto__imagem-zoom">
                <button class="btn-zoom-in" data-tipo="aba-lateral" type="button">+</button>
                <button class="btn-zoom-out" data-tipo="aba-lateral" type="button">-</button>
            </div>
            <div class="imagem-display" data-tipo="aba-lateral"></div>
        </div>
    </div>
    <form class="aba-lateral__secao">
        
        <field data-origin="aba-lateral">
            {% include 'partials/_obter_texto.html'%}
        </field>
    </form>
</section>