{% if request.path == '/login' or request.path == '/cadastro'%}
<header class="">
</header>
{% elif request.path == '/' or request.path == '/home' or user.is_authenticated == False %}
<header class="cabecalho cabecalho-home">
    <nav class="header__nav">
        {% include 'partials/_logo.html' %}
        <div class="header__nav__group">
            <a class="header__nav__link" href="#sobre-nos">Sobre nós</a>
            <a class="header__nav__link" href="#servicos">Serviços</a>
            <a class="header__nav__link" href="#contato">Contato</a>
        </div>
        <div class="header__nav__botoes">
            <a class="header__nav__link botao" href="{% url 'login' %}">Login</a>
            <a class="header__nav__link botao-vazado" href="{% url 'cadastro' %}">Cadastrar</a>
        </div>
    </nav>
</header>
{% else %}
<header class="cabecalho">
</header>
{% endif %}