{% load static %}
<section class="conteudo__reconhecimento-texto">
    <h2 class="conteudo__titulo-principal">Novo reconhecimento de texto</h2>
    <p class="conteudo__descricao">Envie uma imagem, extraia o texto contido nela e salve como preferir!</p>
    <form class="formulario" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <field class="reconhecimento-texto__card">
            <div>
                {% for field in form.visible_fields %}
                <label class="formulario__label {{ field.name }}">
                    {{ field.label }}
                    {% if field.label == 'Imagem' %}
                        <div class="reconhecimento-texto__imagem-zoom zoom-inativo">
                            <button id="btnZoomIn" type="button">+</button>
                            <button id="btnZoomOut" type="button">-</button>
                        </div>
                        <div class="imagem-padrao"></div>
                    {% endif %}
                    {{ field }}
                </label>
                {% endfor %}
            </div>
            <button class="botao" id="btnExtrair" name="extrair" value="extrair" disabled>Extrair texto</button>
        </field>
        
        <field class="reconhecimento-texto__card">
            <label class="formulario__label">
                Texto
            <textarea class="texto" readonly>{% if texto %}{{ texto }}{% endif %}</textarea>
            </label>
            <div class="botoes">
                <button class="botao2" id="btnBaixar" disabled>Download</button>
                <button class="botao2" id="btnCopiar" disabled>Copiar</button>
            </div>
            <button class="botao" name="salvar" id="btnSalvar" value="salvar" disabled>Salvar</button>
        </field>
    </form>
</section>