{% extends 'base.html' %}
{% load static %}

{% block tituloPagina %}Login{% endblock %}
{% block estilosExtras %}
<link rel="stylesheet" href="{% static 'styles/usuario.css' %}">
{% endblock %}

{% block conteudo %}
<section class="conteudo padding">
    <section class="conteudo__formulario">
        
        <form class="formulario" action="{% url 'login' %}" 
        method="POST" autocomplete="off">
        <a href="{% url 'home' %}">
            {% include 'partials/_logo.html' %}
        </a>
        {% csrf_token %} <!--proteção!-->
        <h2>Boas vindas de volta!</h2>
        {% for field in form.visible_fields %}
        <label class="formulario__label">
            {{ field.label }}
            {{ field }}
            {% if field.label == 'Senha' %}
            <button type="button" class="formulario__botao--senha"></button>
            <a class="formulario__link senha"  href="{% url 'password_reset' %}">Esqueci minha senha</a>
            {% endif %}
        </label>
        {% endfor %}
        <input class="formulario__botao botao" type="submit" value="Entrar">
        <a class="formulario__link" href="{% url 'cadastro' %}">Ainda não tem uma conta? Cadastre-se!</a>
    </form>
</section>
</section>
{% endblock %}
{% block scriptsExtras %}
    <script src="{% static 'js/visualizarSenha.js' %}"></script>
{% endblock %}