{% extends 'base.html' %}
{% load static %}
{% block conteudo %}
<head>
    <title>Perfil | Voculary</title>
    <link rel="stylesheet" href="{% static 'styles/perfil.css' %}">
</head>
<section class="conteudo padding">
    <h2 class="conteudo__titulo-principal">Meu perfil</h2>
    <p class="conteudo__descricao">Visualize suas informações e as edite quando achar necesssário.</p>
    <div class="conteudo__secao-perfil">
        <h3 class="conteudo__titulo-secundario">Configurações gerais</h3>
        <p class="conteudo__descricao">Faça modificações nas informações principais da sua conta e defina suas preferências</p>
        <div class="conteudo__formulario">
            <form class="formulario" action="{% url 'perfil' %}" 
            method="POST">
                {% for field in form.visible_fields %}
                {% if field.field.widget.input_type != 'password' %}
                <label class="formulario__label">
                    {{ field.label }}
                    {{ field }}
                </label>
                {% endif %}
                {% endfor %}
                <button class="botao">Salvar alterações</button>
            </form>
        </div>
    <div class="conteudo__secao-perfil">
        <h3 class="conteudo__titulo-secundario">Alterar senha</h3>
        <p class="conteudo__descricao">Se você acredita que sua senha pode ter sido comprometida ou apenas deseja atualizá-la, você pode fazê-lo aqui.</p>
        <div class="conteudo__formulario">
            <form class="formulario" action="{% url 'perfil' %}" 
            method="POST">
                {% for field in form.visible_fields %}
                {% if field.field.widget.input_type == 'password' %}
                <label class="formulario__label">
                    {{ field.label }}
                    {{ field }}
                </label>
                {% endif %}
                {% endfor %}
                <!-- <a class="formulario__link senha" href="">Esqueci minha senha</a> -->
                <button class="botao">Alterar senha</button>
            </form>
        </div>
    </div>
    <div class="conteudo__secao-perfil">
        <h3 class="conteudo__titulo-secundario">Excluir minha conta</h3>
        <p class="conteudo__descricao">Depois de excluir sua conta, não há como voltar atrás. Por favor, tenha certeza.</p>
        <button class="botao">Excluir conta</button>
    </div>
</div>
</section>
<script src="{% static 'js/visualizarSenha.js' %}"></script>
{% endblock %}