{% extends 'base.html' %}
{% load static %}

{% block tituloPagina %}Perfil{% endblock %}
{% block estilosExtras %}
<link rel="stylesheet" href="{% static 'styles/perfil.css' %}">
{% endblock %}

{% block conteudo %}
<section class="conteudo padding">
    <h2 class="conteudo__titulo-principal">Meu perfil</h2>
    <p class="conteudo__descricao">Visualize suas informações e as edite quando achar necesssário.</p>
    <div class="conteudo__secao-perfil">
        <h3 class="conteudo__titulo-secundario">Configurações gerais</h3>
        <p class="conteudo__descricao">Faça modificações nas informações principais da sua conta e defina suas preferências</p>
        <div class="conteudo__formulario">
            <form class="formulario perfil-form perfil-config" action="{% url 'perfil' %}" 
            method="POST">
                <input type="hidden" name="tipo-form" value="info_geral">
                {% csrf_token %}
                {% for field in form_gerais.visible_fields %}
                <label class="formulario__label">
                    {{ field.label }}
                    {{ field }}
                </label>
                {% endfor %}
                <button type="submit" class="botao botao-perfil-config" data-message="Deseja mesmo atualizar suas informações?">Salvar alterações</button>
            </form>
        </div>
    <div class="conteudo__secao-perfil">
        <h3 class="conteudo__titulo-secundario">Alterar senha</h3>
        <p class="conteudo__descricao">Se você acredita que sua senha pode ter sido comprometida ou apenas deseja atualizá-la, você pode fazê-lo aqui.</p>
        <div class="conteudo__formulario">
            <form class="formulario perfil-form" action="{% url 'perfil' %}" 
            method="POST">
                {% csrf_token %}
                {% for field in form_senha.visible_fields %}
                <input type="hidden" name="tipo-form" value="senha">
                <label class="formulario__label">
                    {{ field.label }}
                    {{ field }}
                    <button type="button" class="formulario__botao--senha">
                    </button>
                </label>
                {% endfor %}
                <button type="submit" class="botao botao-perfil-senha" data-message="Deseja mesmo atualizar a sua senha?">Alterar senha</button>
            </form>
        </div>
    </div>
    <div class="conteudo__secao-perfil">
        <h3 class="conteudo__titulo-secundario">Excluir minha conta</h3>
        <p class="conteudo__descricao">Depois de excluir sua conta, não há como voltar atrás. Por favor, tenha certeza.</p>
        <form class="formulario perfil-form" action="{% url 'perfil' %}" 
            method="POST">
            {% csrf_token %}
            <input type="hidden" name="tipo-form" value="excluir">
        <button type="submit" class="botao botao-perfil-excluir" data-message="Deseja excluir sua conta? Lembre-se que esta ação é irreversível.">Excluir conta</button>
        </form>
    </div>
</div>
</section>
<script src="{% static 'js/visualizarSenha.js' %}"></script>
{% endblock %}