{% extends 'base.html' %}
{% load static %}
{% block conteudo %}
<head>
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
</head>
<section class="conteudo">
    <section class="conteudo__minhas-leituras">
        <h2 class="conteudo__titulo-principal">Olá, Emilia!</h2>
        <p class="conteudo__descricao">Acesse suas leituras e tenha uma visão geral do seu progresso.</p>
        <a class="minhas-leituras__ver-mais">
            Ver mais leituras
            <img src="{% static 'assets/icones/seta.svg' %}">
        </a>
        <div class="minhas-leituras__card">
        </div>
    </section>
    <section class="conteudo__status">
        <div class="status__card">
            <img class="status__card__imagem" src="{% static 'assets/icones/livro.svg' %}">
            <div class="staus__card__textos">
                <p class="staus__card__textos__texto">90</p>
                <p class="staus__card__textos__texto">Livros lidos</p>
            </div>
        </div>
    </section>
</section>
{% endblock %}