{% autoescape off %}
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px; 
            color: black;
        }
    </style>
</head>
    <body>
        <p>Oi, <strong>{{ user.first_name }}!</strong> 👋</p>
        
        <p>Você recebeu esse e-mail porque foi solicitado uma redefinição de senha na sua conta.</p>
        
        <p>Para escolher uma nova senha, clique no link abaixo:</p>
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Redefinir minha senha</a>
        
        <p>Se você não solicitou essa redefinição de senha, ignore este e-mail.</p>
        
        <p>Atenciosamente,</p>
        <p><strong>Equipe Voculary</strong></p>
    </body>
</html>
{% endautoescape %}