{% extends "admin/base_site.html" %}
{% load static %}

{% block tituloPagina %}Recuperação de senha{% endblock %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'styles/formulario.css' %}">
{% endblock %}

{% block conteudo %}
<section class="conteudo padding">
    <h2 class="conteudo__titulo-principal">Recuperação de senha</h2>
    
    <div class="conteudo__descricao">
        <p>Enviamos um e-mail com instruções para definir sua senha, se uma conta existir com o e-mail que você inseriu. Você deve recebê-las em breve.</p>
        <p>Se você não receber um e-mail, certifique-se de ter inserido o endereço com o qual se registrou e verifique sua pasta de spam.</p>
    </div>
</section>
{% endblock %}
