{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block tituloPagina %}Recuperação de senha{% endblock %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'styles/formulario.css' %}">
{% endblock %}

{% block conteudo %}
<section class="conteudo padding">
    <h2 class="conteudo__titulo-principal">Recuperação de senha</h2>
    <p class="conteudo__descricao">Esqueceu a sua senha? Forneça seu e-mail abaixo, e te enviaremos instruções para configurar uma nova!</p>
    
    <div class="conteudo__formulario">
        <form class="formulario" method="post" autocomplete="off">{% csrf_token %}
            <fieldset class="module aligned">
                {{ form.email.errors }}
                <label class="formulario__label" for="id_email">Endereço de e-mail:
                    {{ form.email }}
                </label>
                <input class="botao" type="submit" value="Redefinir minha senha">
            </fieldset>
        </form>
    </div>
</section>
{% endblock %}
