{% extends "admin/base_site.html" %}
{% load static %}

{% block tituloPagina %}Recuperação de senha{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'styles/formulario.css' %}">
{% endblock %}

{% block conteudo %}
<section class="conteudo padding">
    
    {% if validlink %}
    <h2 class="conteudo__titulo-principal">Confirmação de redefinição de senha</h2>
    <p class="conteudo__descricao">Por favor, insira sua nova senha duas vezes para confirmar que está correta.</p>
    
    <div class="conteudo__formulario">
        <form class="formulario" method="post" autocomplete="off" novalidate>{% csrf_token %}
            <fieldset class="module aligned">
                <label class="formulario__label">
                    E-mail:
                    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                </label>
                <label class="formulario__label" for="id_new_password1">Nova senha:
                    {{ form.new_password1 }}
                    <button type="button" class="formulario__botao--senha"></button>
                    {{ form.new_password1.errors }}
                    
                </label>
                <label class="formulario__label" for="id_new_password2">Confirme a senha:
                    {{ form.new_password2 }}
                    <button type="button" class="formulario__botao--senha"></button>
                    
                    {{ form.new_password2.errors }}
                </label>
                <input class="botao" type="submit" value="Alterar minha senha">
            </fieldset>
        </form>
    </div>
    
    {% else %}
    <h2 class="conteudo__titulo-principal">Erro na redefinição de senha</h2>
    <p class="conteudo__descricao">O link de redefinição de senha era inválido, possivelmente porque já foi utilizado. Por favor, solicite uma nova redefinição de senha.</p>
    {% endif %}
    
</section>
{% endblock %}
{% block scriptsExtras %}
    <script src="{% static 'js/visualizarSenha.js' %}"></script>
{% endblock %}