.conteudo__admin-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudo__admin-usuarios {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tabela__footer {
    width: 100%;
}

.conteudo__app-lista {
    display: flex;
    flex-direction: row;
}

.usuarios__relatorio, .textos__relatorio {
    display: flex;
    gap: 1rem;
    margin-bottom: 4rem;
}

.usuarios__relatorio {
    flex-direction: column;
    
    padding: 1rem;
    border: 1px solid var(--preto-200);
    border-radius: 5px;
    background-color: #FFF;
}

.usuarios__relatorio .relatorio__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    padding: .5rem 0;
    border-bottom: 1px solid var(--preto-200);
}

.usuarios__relatorio .relatorio__item h3 {
    color: var(--preto-900);
}

.usuarios__relatorio .relatorio__item p {
    padding: .5rem;
    border: 2px solid var(--preto-200);
    border-radius: 10px;
    
    font-size: 1rem;
    font-weight: 600;
}

.textos__relatorio .relatorio__item {
    display: flex;
    justify-content: end;
    flex-direction: column;
    
    width: 18rem;
    height: 10rem;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid var(--azul-100);
    border-radius: 5px;
    background-color: #FFF;
}

.textos__relatorio  .relatorio__item h4 {
    margin-bottom: 10px;
    
    font-size: 2.5em;
    font-weight: 600;
    font-family: var(--fonte-titulo);
    color: var(--preto-900);
}

.textos__relatorio  .relatorio__item p {
    font-size: 1em;
    color: var(--preto-700);
}

.botoes {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.botoes .botao {
    margin: 0;
    padding: .5rem 3rem;
}

.custom-checkbox {
    margin-bottom: .5rem;
}

.vTextField, .vUUIDField {
    width: 20em;
}

.tabela {
    table-layout: auto; 
}

.conteudo__admin {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.breadcrumbs {
    width: 30%;
    border-bottom: 1px solid var(--preto-200);
    padding-bottom: .5rem;
    font-size: .8rem;
}

.breadcrumbs a {
    color: var(--azul-500);
    text-decoration: none;
    margin-right: 5px;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}  

.lista-filtros {
    width: 20rem;
    padding: 1rem;
    height: auto;
    border: 1px solid var(--preto-200);
    border-radius: 5px;
    background-color: #FFF; 
}

.lista-filtros h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.lista-filtros__limpar {
    margin-top: 10px;
    margin-bottom: 15px;
    
    font-size: 1rem;
    font-weight: 500;
}

.lista-filtros__limpar a {
    text-decoration: none; 
    color: var(--preto-600); 
    transition: color 0.3s ease;
}

.lista-filtros__limpar a:hover {
    color: var(--preto-700); 
}

.lista-filtros summary {
    margin-bottom: .5rem;
} 

.lista-filtros ul {
    margin-bottom: 1rem;
    border-top: 1px solid var(--preto-200)
}

.lista-filtros li {
    list-style-type: none;
}

.lista-filtros li a{
    display: inline-block;
    
    width: 100%;
    padding: .2rem 0 .2rem .5rem; 
    
    text-decoration: none;
    color: var(--preto-600); 
}

.lista-filtros li a:hover{
    background-color: var(--preto-100); 
    color: var(--preto-700); 
}

.lista-filtros li.selected a{
    background-color: var(--preto-100); 
    
    font-weight: 600;
    color: var(--preto-700); 
}

.acoes {
    display: flex;
    align-items: center;
    
    margin: 1rem 0;
    border-radius: 5px;
}

.acoes label {
    margin-right: 10px;
    color: var(--preto-700);
}

.acoes .botao {
    padding: .5rem 2rem;
    margin: 0;
}

.acoes select {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid var(--preto-300);
    background-color: var(--preto-100);
    
    color: var(--preto-700);
    
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}

.acoes select:hover {
    border-color: var(--preto-500);
    outline: none;
}

.acoes select:focus {
    background-color: var(--preto-50);
    border-color: var(--verde-300);
    outline: none;
}

.acoes select option {
    background-color: var(--preto-100);
    color: var(--preto-800);
}

.acoes select option:hover, 
.acoes select option:focus {
    background-color: var(--azul-50);
    color: var(--azul-800);
}

/* ===== Responsividade ===== */
@media only screen and (max-width: 768px) {
    .conteudo__admin-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    
    .textos__relatorio {
        flex-direction: column;
        height: 5rem;
    }
    
    .relatorio__item {
        width: auto;
    }
}