h2 {
    font-size: 2rem;
    display: block;
    margin: 2rem 1rem;
}

.conteudo__inicio {
    display: flex;
    gap: 5.3rem;
    height: 80vh;
    align-items: center;
}

.conteudo__inicio__destaque {
    font-size: 3.5rem;
    color: var(--azul-900);
    font-weight: 700;
    line-height: 3.5rem;
}

.conteudo__titulo {
    text-align: center;
}

.conteudo__sobre-nos__textos,
.conteudo__contato__textos {
    display: flex;
    gap: 2rem;
}

.conteudo__paragrafo {
    line-height: 2rem;
    margin: 0 2rem 2rem 0;
}

.conteudo__sobre-nos__textos {
    display: flex;
}


.conteudo__sobre-nos__funcionalidades__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.conteudo__sobre-nos__funcionalidades__item img {
    width: 2.5rem;
    filter: var(--preto-800-filtro);
    transition: all .5s;
}

.conteudo__sobre-nos__funcionalidades__item img:hover {
    scale: 1.2
}

.conteudo__sobre-nos__funcionalidades__item p {
    width: 16rem;
    line-height: 1.5rem;
    font-size: 0.9rem;
    margin: 0 0 .5rem 1rem;
}

.botao {
    box-sizing: border-box;
}


.conteudo__botoes div {
    display: flex;
    gap: 1rem;
}

.conteudo__botoes div .botao {
    width: 10rem;
}

h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
}