.conteudo {
    height: auto;
    position: relative;
}

.botao {
    position: absolute;
    top: 0;
    right: 8rem;
}

.tabela {
    width: 100%;
    background-color: #FFF;
    overflow:hidden;
    border-collapse:separate;
    border: 1px solid var(--preto-200);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.tabela__header {
    font-weight: 700;
}

.tabela__header th {
    text-align: left;
    background-color: var(--preto-100);
    padding: 1rem;
    font-family: var(--fonte-titulo);
    color: var(--preto-700)
}

.tabela__body {
    color: var(--preto-600);
}

.tabela__body tr {
    border-bottom: 1px solid var(--preto-200)
}

.tabela__body td {
    padding: 1rem;
    vertical-align: middle;
}

.tabela__body tr:last-of-type {
    border-bottom: none;
}

.tabela__body button {
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    background-color: transparent;
}

.tabela__body button:hover {
    cursor: pointer;
}

.tabela__body .renomear button {
    background-image: url('../assets/icones/renomear.svg');
    background-size: cover;
}

.tabela__body .excluir button {
    background-image: url('../assets/icones/excluir.svg');
    background-size: cover;
}

.checkbox {
    width: 5%;
}

.nome-arquivo {
    width: 40%;
}

.data-criacao {
    width: 40%;
}

.renomear, .excluir {
    width: 5%;
    text-align: center;
}