.conteudo {
    height: auto;
    position: relative;
}

.botao {
    position: absolute;
    top: 0;
    right: 8rem;
}

.tabela {
    width: 100%;
    background-color: #FFF;
    margin-bottom: 4rem;
    overflow:hidden;
    border-collapse:separate;
    border: 1px solid var(--preto-200);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.tabela__header {
    font-weight: 700;
}

.tabela__header th {
    text-align: left;
    background-color: var(--preto-100);
    padding: 1rem;
    font-family: var(--fonte-titulo);
    color: var(--preto-700)
}

.tabela__body {
    color: var(--preto-600);
}

.tabela__body td {
    padding: 1rem;
    vertical-align: middle;
    border-bottom: 1px solid var(--preto-200);
}

.tabela__body button {
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    background-color: transparent;
}

.tabela__body button:hover {
    cursor: pointer;
}

.tabela__body .renomear button {
    background-image: url('../assets/icones/renomear.svg');
    background-size: cover;
}

.tabela__body .excluir button {
    background-image: url('../assets/icones/excluir.svg');
    background-size: cover;
}

.checkbox {
    width: 1rem;
}

.imagem img {
    border: 1px solid var(--preto-300);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

.nome-arquivo {
    width: 60%;
}

.data-criacao {
    width: 40%;
}

.renomear, .excluir {
    width: 2rem;
    text-align: center;
}

.tabela__footer td {
    padding: 1rem;
}

.botao-paginacao {
    border: 1px solid var(--preto-300);
    padding: .5rem 1rem;
    text-decoration: none;
    border-radius: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    transition: all .25s;
}

.botao-paginacao:hover {
    background-color: var(--preto-100);
}

.botao-paginacao p {
    color: var(--preto-700);
}

.anterior img {
    transform: rotate(180deg);
}

.paginas .nav-outer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.nav-outer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.paginas__numero {
    text-decoration: none;
    color: var(--preto-500)
}