.conteudo {
    height: auto;
    position: relative;
}

.botao {
    position: absolute;
    top: 0;
    right: 8rem;
}

.prateleiras {
    width: 100%;
    background-color: var(--preto-50);
    border: 1px solid var(--preto-200)
}

.prateleiras__header {
    font-weight: 700;
}

.prateleiras__header th {
    text-align: left;
    background-color: var(--preto-100);
    padding: 1rem;
    font-family: var(--fonte-titulo);
}

.prateleiras__body {
    color: var(--preto-600);
}

.prateleiras__body tr {
    border-bottom: 1px solid var(--preto-200)
}

.prateleiras__body td {
    padding: 1rem;
    vertical-align: middle;
}

.prateleiras__body tr:last-of-type {
    border-bottom: none;
}

.prateleiras__body button {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.6;
    border: none;
    background-color: transparent;
}

.prateleiras__body button:hover {
    cursor: pointer;
}

.prateleiras__body .renomear button {
    background-image: url('../assets/icones/renomear.svg');
    background-size: cover;
}

.prateleiras__body .excluir button {
    background-image: url('../assets/icones/excluir.svg');
    background-size: cover;
}

.nome-prateleira {
    width: 50%;
}

.data-criacao {
    width: 25%;
}

.renomear, .excluir {
    width: 5%;
    text-align: center;
}