.cabecalho {
    padding: 1rem 8rem;
}

.cabecalho-home {
    background-color: var(--azul-50);
    /* position: sticky; */
    /* top: 0; */
    /* z-index: 1; */
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav__group a {
    margin-left: 2.5rem;
    color: var(--azul-900);
    font-weight: 500;
}

.header__nav__group a:hover {
    border-bottom: 1px solid var(--azul-900);
}

.header__nav__link {
    text-decoration: none;
}

.header__nav__botoes {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.header__nav__botoes .botao {
    background-color: var(--azul-100);
}