.cabecalho {
    padding: 1rem;
}

.cabecalho-home {
    background-color: var(--azul-50);
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.header__nav__group {
    display: flex;
    gap: 5rem;
}

.header__nav__group a {
    font-weight: 500;
    color: var(--azul-900);
}

.header__nav__link {
    text-decoration: none;
}

.header__nav__botoes {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.header__nav__botoes .botao {
    background-color: var(--azul-100);
}

/* Responsividade */

@media only screen and (max-width: 992px) {
    .header__nav {
        justify-content: space-between;
        padding: 0 1rem;
    }
    
    .header__nav__group {
        justify-content: space-around;
        gap: 0;
        order: 2;
        
        width: 100%;
        margin: 1rem 0 2rem 0;
    }

    .header__nav__botoes {
        order: 1;
    }
}