.conteudo__dashboard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 4rem;
}

.dashboard__card {
    position: relative;
    width: 46%;
    height: 20rem;
    box-shadow: var(--sombra);
}

.dashboard__card__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--preto-100);
}

.dashboard__card__footer h3 {
    padding: 1rem;
}