/* ===== Estilos gerais ===== */
*::placeholder {
    color: var(--preto-600);
}

.formulario {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
}

/* ===== Seção 'Reconhecimento de texto' ===== */
.reconhecimento-texto__card {
    display: flex;
    flex-direction: column;
    
    width: 50%;
    height: 32rem;
}

/* Imagem */
.reconhecimento-texto__imagem {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    
    transition: 1s all;
}

.reconhecimento-texto__card .imagem {
    cursor: pointer;
    opacity: 0;
}

.reconhecimento-texto__card .imagem-display {
  top: 24px;
}

.icone-padrao {
    background-image: url('../assets/icones/adicionar-imagem.svg');
    background-size: 5rem 5rem;
}

/* Textos e inputs */
.reconhecimento-texto__card .texto {
    height: 19.5rem;
    cursor: default;
}

.formulario__label {
    width: auto;
}

.form__input:focus {
    outline: none;
}

.form__icone {
    width: 1.2rem;
    height: 1.5rem;
    padding: .5em;

    cursor: pointer;
}

/* ===== Seção de prévia da página 'Meus Textos' ===== */
.conteudo__meus-textos {
    position: relative;
    margin: 4rem 0;
}

.meus-textos__ver-mais {
    display: flex;
    align-items: center;
    gap: .5rem;

    position: absolute;
    top: 0;
    right: 0;
    
    font-weight: 500;
    text-decoration: none;
    color: var(--preto-700);
}

.meus-textos__ver-mais:hover {
    cursor: pointer;
}

.meus-textos__group {
    display: flex;
    justify-content: start; 
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;

    margin-top: 10px; 
}

.meus-textos__card {
    display: flex;
    flex-direction: column;

    width: 20rem;
    height: 10rem;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.meus-textos__card:hover {
    cursor: pointer;
}

.meus-textos__card img {
    overflow: hidden;
    object-fit: cover; 
    object-position: center;

    height: 8rem;
    border-radius: 10px 10px 0 0;

    filter: brightness(90%)
}

.meus-textos__card h3 {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;

    max-width: 10rem; 

    font-family: var(--fonte-conteudo);
    font-weight: 500;
    color: var(--preto-900)
}

.meus-textos__card p {
    color: var(--preto-500)
}

.meus-textos__card h3,
.meus-textos__card p {
    padding: .2rem;
}

.meus-textos__descricao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 1rem .5rem;
    
    font-size: 0.8rem;
}

/* ===== Responsividade ===== */
@media only screen and (max-width: 1200px) {
    .meus-textos__group {
        flex-wrap: wrap;
    }

}

@media only screen and (max-width: 768px) {
    .formulario {
        flex-direction: column;
    }
    
    .reconhecimento-texto__card {
        width: 100%;
    }

    .meus-textos__card {
        width: 100%;
    }
}