.formulario {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
}

.formulario__label {
    width: auto;
}

.reconhecimento-texto__card {
    width: 50%;
}

.reconhecimento-texto__imagem {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s all;
}

.imagem {
    height: 20rem;
    opacity: 0; 
    cursor: pointer;
    z-index: 2;
    position: relative
}

.imagem-display{
    background-color: var(--preto-200);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: 89%;
    background-size: auto 100%;
    z-index: 1;
}

.icone-padrao {
    background-image: url('../assets/icones/adicionar-imagem.svg');
    background-size: 5rem 5rem;
}

.texto {
    height: 20rem;
    cursor: default;
}

.reconhecimento-texto__imagem-zoom {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    margin: 5px 5px;
    border-radius: 5px;
    padding: 8px 12px;
    background-color: #33333326;
    z-index: 3;
    border-radius: 20px;
}

.reconhecimento-texto__imagem-zoom button{
    padding: .5rem .5rem;
    font-family: var(--fonte-titulo);
    background-color: var(--preto-700);
    color: var(--preto-50);
    border: none;
    border-radius: 100px;
}

.reconhecimento-texto__imagem-zoom button:hover {
    cursor: pointer;
}

.zoom-inativo {
    display: none;
}

*::placeholder {
    color: var(--preto-600);
}

.form__input:focus {
    outline: none;
}

.form__icone {
    padding: .5em;
    cursor: pointer;
    width: 1.2rem;
    height: 1.5rem;
}

.conteudo__meus-textos {
    position: relative;
    margin: 4rem 0;
}

.meus-textos__ver-mais {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--preto-700);
    font-weight: 500;
    text-decoration: none;
}

.meus-textos__ver-mais:hover {
    cursor: pointer;
}

.reconhecimento-texto__card {
    display: flex;
    flex-direction: column;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

#id_imagem {
    display: none;
}

.meus-textos__group {
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 10px; 
}

.meus-textos__card {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 10rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.meus-textos__card img {
    height: 8rem;
    overflow: hidden;
    object-fit: cover; 
    object-position: center;
    border-radius: 10px 10px 0 0;

    filter: brightness(90%)
}

.meus-textos__card h3 {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    max-width: 10rem; 
    font-family: var(--fonte-conteudo);
    font-weight: 500;
    color: var(--preto-900)
}

.meus-textos__card p {
    color: var(--preto-500)
}

.meus-textos__card h3,
.meus-textos__card p {
    padding: .2rem;
}

.meus-textos__descricao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem .5rem;
    font-size: 0.8rem;
}


