.formulario {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
}

.formulario__label {
    width: auto;
}

.reconhecimento-texto__card {
    width: 50%;
}

.reconhecimento-texto__imagem {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s all;
}

.imagem {
    height: 20rem;
    opacity: 0; 
    cursor: pointer;
    z-index: 2;
    position: relative
}

.imagem-padrao {
    background-color: var(--preto-200);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: 89%;
    background-image: url('../assets/icones/adicionar-imagem.svg');
    background-size: 5rem 5rem;
    z-index: 1;
}

.texto {
    height: 20rem;
    cursor: default;
}

.reconhecimento-texto__imagem-zoom {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    margin: 5px 5px;
    border-radius: 5px;
    padding: 8px 12px;
    background-color: #33333326;
    z-index: 3;
    border-radius: 20px;
}

.reconhecimento-texto__imagem-zoom button{
    padding: .5rem .5rem;
    font-family: var(--fonte-titulo);
    background-color: var(--preto-700);
    color: var(--preto-50);
    border: none;
    border-radius: 100px;
}

.reconhecimento-texto__imagem-zoom button:hover {
    cursor: pointer;
}

.zoom-inativo {
    display: none;
}

*::placeholder {
    color: var(--preto-600);
}

.form__input:focus {
    outline: none;
}

.form__icone {
    padding: .5em;
    cursor: pointer;
    width: 1.2rem;
    height: 1.5rem;
}

.conteudo__meus-textos {
    position: relative;
    margin-bottom: 4rem;
}

.meus-textos__ver-mais {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--preto-700);
    font-weight: 500;
}

.meus-textos__ver-mais:hover {
    cursor: pointer;
}

.reconhecimento-texto__card {
    display: flex;
    flex-direction: column;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

#id_imagem {
    display: none;
}


