/* ===== Variáveis de cores e fontes ===== */
:root {

  /* Cores Base */
  --preto-50: #F9F9F9;
  --preto-100: #f2f2f2;
  --preto-200: #E3E3E3;
  --preto-300: #D1D1D1;
  --preto-400: #ACACAC;
  --preto-500: #8B8B8B;
  --preto-600: #646464;
  --preto-700: #515151;
  --preto-800: #333333;

  /* Cores Primárias */
  --verde-100: #C0FACB;
  --verde-200: #92F7A8;
  --verde-300: #4EF480;
  --verde-400: #29CB61;

  /* Cores Secundárias */
  --azul-50: #DCEBF2;
  --azul-100: #A8CEDE;
  --azul-200: #6CAECA;
  --azul-400: #007EB0;
  --azul-500: #006BA6;
  --azul-800: #00406E;
  --azul-900: #002558;

  /* Cores Extras */
  --rosa-300: #ff556f;
  --rosa-400: #ff0049;
  --amarelo-400: #e5ce22;

  /* Outras variáveis */
  --sombra: 0 2px 4px rgba(0, 0, 0, 0.2);
  --fonte-titulo: 'Lexend', sans-serif;
  --fonte-conteudo: 'Poppins', sans-serif;
}

/* ===== Barra de rolagem customizada ===== */
body::-webkit-scrollbar,
.texto::-webkit-scrollbar,
.aba-lateral::-webkit-scrollbar {
  width: 12px;              
}

body::-webkit-scrollbar-track,
.texto::-webkit-scrollbar-track,
.aba-lateral::-webkit-scrollbar-track {
  background: var(--preto-100);        
}

body::-webkit-scrollbar-thumb,
.texto::-webkit-scrollbar-thumb,
.aba-lateral::-webkit-scrollbar-thumb {
  background-color: var(--preto-500);   
  border-radius: 20px;       
  border: 3px solid var(--preto-100);  
}

body {
    background-color: var(--preto-50);
    color: var(--preto-800);
    font-family: var(--fonte-conteudo);
    font-size: 16px;
}

/* ===== Corpo da página ===== */
.container {
  display: flex;
  flex-direction: column;
  flex: 1;

  position: relative;
  min-height: 100vh; 
}

input {
    font-family: var(--fonte-conteudo);
}

h1, h2, h3 {
    font-family: var(--fonte-titulo);
    color: var(--azul-900);
    font-weight: 500;
}

/* ===== Mensagens de erro abaixo de inputs ===== */
.errorlist {
  color: var(--rosa-400);
  font-size: .8rem;
  margin-bottom: 2rem;
}

/* ===== Listas ===== */
.lista {
  margin-bottom: 2rem;
}

.lista__item{
  margin: .5rem 0 0 1.5rem;
  list-style: disc;
  color: var(--preto-600);
}

/* ===== Posicionamento e espaçamento ===== */
.padding {
  padding: 0 8rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh
}

/* ===== Títulos e parágrafos ===== */
.conteudo__titulo-principal {
  font-size: 1.8rem;
}

.conteudo__titulo-secundario {
  font-size: 1.2rem;
}

.conteudo__descricao {
  color: var(--preto-500);
  font-size: 0.9rem;
  margin: .5rem 0 3rem 0;
}

/* ===== Botões ===== */
.grupo__botoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem
}

.botao, .botao-vazado, .botao2, .botao-neutro {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: .8em 1.6em;
  border-radius: 10px;
  border: none;
  
  font-weight: 500;
  font-weight: 500;
  font-family: var(--font-conteudo);
  text-decoration: none;
  color: var(--preto-800);
  
  transition: 1s all;
}

.botao,
.botao-vazado,
.botao-neutro {
  margin: 1rem 0 2rem 0;
}

.botao {
  background-color: var(--verde-300);
}

.botao-vazado {
  border: 1px solid var(--verde-300);
  background-color: var(--preto-50);

  color: var(--verde-400);
}

.botao:hover,
.botao-vazado,
.botao2,
.botao-neutro {
    cursor: pointer;
}

.botao2 {
  width: 50%;
  margin: 1.8rem 0 .5rem 0;
  padding: .8em 1.6em;
  background-color: var(--verde-200);
}

/* ===== Logo ===== */
.logo {
  display: flex;
  justify-self: unset;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.logo__completa {
  width: 5rem;
}

/* ===== Overlay ===== */
.overlay {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4; 
  
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.3); 
}

/* ===== Botão para fechar mensagens/avisos ===== */
.fechar {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;

  cursor: pointer;
  opacity: 0.7;
}

.fechar:before {
  content: 'x';
  font-family: var(--fonte-titulo);
  font-weight: 500;
  font-size: 1.2rem;
}

.fechar:hover {
  opacity: 1;
}

/* ===== Responsividade ===== */
@media only screen and (max-width: 1023px) {
  body {
      font-size: 15px;
  }

  .padding {
    padding: 0 2rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  body {
      font-size: 16px;
  }
}

