.reconhecimento-texto__grupo {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.reconhecimento-texto__card {
    width: 50vw;
}

.reconhecimento-texto__imagem {
    height: 20rem;
    border-radius: 5px;
    border: 1px solid var(--preto-300);
    transition: 1s all;
}

.reconhecimento-texto__imagem:hover {
    cursor: pointer;
}

.sem-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, var(--azul-400), var(--verde-300));
    background-repeat: no-repeat;
    background-position: center;
    transition: background-position 2s;
}

.sem-imagem img {
    width: 5rem;
    transition: transform 0.2s ease-in-out;
}

.sem-imagem:hover img {
    transform: translateY(-10px);
}

.texto {
    height: 20rem;
    background-color: var(--preto-100);
    border: 1px solid var(--preto-200);
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.2); */
}

.form {
    display: flex;
    align-items: center;
    height: 2rem;
    border-radius: 5px;
    margin-top: 1rem;
    padding: .12em 1.8em .12rem 0;
    background-color: var(--preto-100);
    border: 1px solid var(--preto-100);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: all 1s;
}

.form:hover {
    border: 1px solid var(--verde-300);
}

.form__icone {
    filter: var(--preto-500-filtro)
}

  
.form__input {
    flex: 1;
    height: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: var(--preto-500);
}

*::placeholder {
    color: var(--preto-600);
}



.form__input:focus {
    outline: none;
}

.form__icone {
    padding: .5em;
    cursor: pointer;
    width: 1.2rem;
    height: 1.5rem;
}

.conteudo__meus-textos {
    position: relative;
    margin-bottom: 4rem;
}

.meus-textos__ver-mais {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--azul-900);
    font-weight: 500;
}

.meus-textos__ver-mais img{
    width: 1.5rem;
    filter: var(--azul-900-filtro);
}

.meus-textos__ver-mais:hover {
    cursor: pointer;
}

.reconhecimento-texto__card {
    display: flex;
    flex-direction: column;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}
