.conteudo__inicio {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 72vh;
    padding: 0 8rem 2rem 8rem;
    border-radius: 0 0 200px 200px;

    background-color: var(--azul-50);
}

.conteudo__inicio__destaque {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 4.5rem;
    color: var(--azul-900);
    width: 40rem;
}

.conteudo__inicio img {
    transform: scale(1.4);
}

.conteudo__titulo {
    text-align: center;
}

.conteudo__secao {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    margin-top: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.conteudo__paragrafo {
    margin: 0 2rem 2rem 2rem;

    line-height: 1.8rem;
}

.conteudo__servicos {
    background-color: var(--azul-50);
}

.conteudo__servicos__itens {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;
}

.conteudo__servicos__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem .8rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.conteudo__servicos__item:hover {
    cursor: pointer;
}

.conteudo__servicos__item h3 {
    padding-top: 2.8rem;
    
    font-size: 1.8rem;
    color: var(--preto-800);
}

.coluna {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.esquerda .conteudo__servicos__item {
    align-items: flex-start;
    text-align: left;
}

.direita .conteudo__servicos__item {
    align-items: flex-end;
    text-align: right;
}

.centro {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.centro__linha {
    position: relative;

    width: 2px;
    height: 40px;

    background-image: linear-gradient(to bottom, var(--azul-800) 50%, transparent 50%);
    background-repeat: repeat-y;
    background-size: 100% 4px;
}

.centro__imagem {
    position: relative;

    width: 2rem;
    height: 2rem;
    padding: .5rem;
    margin: 10px 0;
    border-radius: 50%;

    background-color: var(--azul-800);
}

.texto {
    word-wrap: break-word;
    box-sizing: border-box;
    border-radius: 5px;

    font-size: .95rem;
    line-height: 1.5rem;
    color: var(--preto-700);

    transition: width 2s ease-in-out, box-shadow .5s ease;
}

h2 {
    font-size: 2.5rem;
    margin: 1.5rem 0;
}

.conteudo__contato {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;

    background: url('../assets/backgrounds/bg-contato.svg') no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.conteudo__contato__box {
    position: relative;

    padding: 2rem 3rem;
    border-radius: 4px;
    width: auto;
    
    background-color: var(--preto-50);
    box-shadow: var(--sombra)
}

.conteudo__formulario form {
    width: 100%;
}

.conteudo__formulario .botao {
    width: 100%;
}

.conteudo__duvidas .faq-item {
    position: relative;
    margin-bottom: 1rem;

    border-bottom: 1px solid var(--preto-200);
}

.conteudo__duvidas .faq-item input[type="checkbox"] {
    display: none;
}

.conteudo__duvidas .faq-item label {
    display: flex;
    align-items: center;
    padding: 1rem;
    position: relative;

    background-color: var(--preto-50);
    border-radius: 5px;
    z-index: 1;
    cursor: pointer;

    transition: background-color 0.3s ease;
}

.conteudo__duvidas .faq-item p {
    max-height: 0;
    overflow: hidden;
    padding: 0 1rem;

    color: var(--preto-600);
    transition: max-height .5s;
}

.conteudo__duvidas .faq-item input[type="checkbox"]:checked + label + p {
    padding: 1rem;
    max-height: 300px; 
}

.toggle-icon {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    vertical-align: middle;

    background-image: url('../assets/icones/seta-2.svg');
    background-size: contain;
    background-repeat: no-repeat;

    transition: transform 0.3s ease;
}

.conteudo__duvidas .faq-item input[type="checkbox"]:checked + label .toggle-icon {
    transform: rotate(180deg);
}

/* Responsividade */

@media only screen and (max-width: 1200px) {
    .conteudo__inicio {
        height: 50vh;
        gap: 4rem;
    }

    .conteudo__inicio img {
        width: 10rem;
    }

    .conteudo__inicio__destaque {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .conteudo__inicio {
        flex-direction: column;
        height: auto;
        padding: 0 2rem 2rem 2rem;
    }
    .conteudo__inicio img {
        width: 10rem;
    }

    .conteudo__inicio__destaque {
        font-size: 2rem;
        line-height: 2.5rem;
        text-align: center;
        width: 100%;
    }

    
}

