h2 {
    font-size: 2.5rem;
    margin: 1.5rem 0;
}

.conteudo__inicio {
    display: flex;
    gap: 4rem;
    height: 80vh;
    align-items: center;
    background: url('../assets/backgrounds/bg-apresentacao.svg') no-repeat center center;
    background-size: cover;
    padding: 0 8rem;
}

.conteudo__inicio__destaque {
    font-size: 3.8rem;
    color: var(--azul-900);
    width: 40rem;
    font-weight: 500;
    line-height: 4.5rem;
    text-shadow: var(--sombra);
}

.conteudo__titulo {
    text-align: center;
}

.conteudo__secao {
    margin-top: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.conteudo__sobre-nos {
    background-color: var(--preto-100);
}

.conteudo__paragrafo {
    line-height: 1.8rem;
    text-align: center;
    margin: 0 2rem 2rem 2rem;
}

.conteudo__servicos__itens {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;
}

.conteudo__servicos__item {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 24rem;
}

.conteudo__servicos__item:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 1rem var(--verde-200);
}

.numero, .texto {
    border: 1px solid var(--verde-300);
    box-sizing: border-box;
    text-align: center;
    transition: width 2s ease-in-out, box-shadow .5s ease; /* Adicionei box-shadow à transição */
    color: var(--preto-600);
}

.texto {
    border-radius: 5px;
    padding: 2rem .5rem;
    line-height: 1.5rem;
    font-size: .95rem;
}

.numero {
    position: absolute;
    top: -2rem;
    font-size: 2rem;
    padding: .9rem .5rem;
    width: 4rem;
    border-radius: 200px;
    font-weight: 500;
    background-color: var(--preto-50);
    font-family: var(--fonte-titulo);
}

.conteudo__contato {
    background: url('../assets/backgrounds/bg-contato.svg') no-repeat;
    background-position: 0 0;
    background-size: cover;
    padding-top: 7rem;
}

.conteudo__contato__box {
    background-color: var(--preto-50);
    border-radius: 4px;
    padding: 2rem 3rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
}

.conteudo__contato__textos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.conteudo__contato__paragrafo {
    color: var(--preto-800);
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
}

.conteudo__formulario form {
    width: 28rem;
}

.conteudo__formulario .botao {
    width: 100%;
    font-size: 1.1rem;
    padding: 1rem 1.8rem;
}

.img {
    position: absolute;
    top: 24rem;
    right: -18rem;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.img img:first-child {
    width: 24rem;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.img img:last-child {
    width: 15rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
