.loading {
  outline: 1px solid transparent;
  font-size:0px;
  padding:0px;
  display: none;
  position: fixed;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading span {
  background: var(--preto-800);
  border-radius:100%;
  vertical-align:middle;
  display:inline-block;
  width: 2rem;
  height: 2rem;
  margin: 2px 2px;
  -webkit-animation:loading 0.8s linear infinite alternate;
  animation:loading 0.8s linear infinite alternate;
}
.loading span:nth-child(1){
  -webkit-animation-delay:-0.8;
  animation-delay:-0.8s;
}
.loading span:nth-child(2) {
  -webkit-animation-delay:-0.53333s;
  animation-delay:-0.53333s;
}
.loading span:nth-child(3) {
  -webkit-animation-delay:-0.26666s;
  animation-delay:-0.26666s;
}
@keyframes loading{
  from {transform: scale(0, 0);}
  to {transform: scale(1, 1);}
}
@-webkit-keyframes loading{
  from {-webkit-transform: scale(0, 0);}
  to {-webkit-transform: scale(1, 1);}
}