/* ===== Estilos gerais ===== */
.mensagem {
    position: fixed;
    top: 25px;
    right: 30px;
    overflow: hidden;
    z-index: 100;
    
    width: 24vw;
    padding: 20px 35px 20px 25px;
    border-radius: 12px;
    background: #fff;
    box-shadow: var(--sombra);
    
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.mensagem.ativo {
    transform: translateX(0%);
}

.mensagem .mensagem__conteudo {
    display: flex;
    align-items: center;
}

.mensagem__conteudo .mensagem__conteudo__texto {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

/* ===== ícone ===== */
.icone {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 35px;
    min-width: 35px;
    border-radius: 50%;
    
    font-size: 20px;
    color: #fff;
}

.icone {
    position: relative;
}

.icone[data-status="success"] {
    background: var(--verde-300) url('../assets/icones/sucesso.svg') no-repeat center / 1rem;
}

.icone[data-status="error"] {
    background: var(--rosa-400) url('../assets/icones/erro.svg') no-repeat center / 3rem;
}

.icone[data-status="warning"] {
    background: var(--amarelo-400) url('../assets/icones/atencao.svg') no-repeat center / 2.5rem;
}

.icone[data-status="info"] {
    background: var(--azul-400) url('../assets/icones/atencao.svg') no-repeat center / 2.5rem;
    transform: rotate(180deg);
}

.icone::before {
    position: absolute;
    font-family: var(--fonte-titulo);
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progresso[data-status="success"]:before {
    background-color: var(--verde-300);
}

.progresso[data-status="error"]:before {
    background-color: var(--rosa-400);
}

.progresso[data-status="warning"]:before {
    background-color: var(--amarelo-400);
}

.progresso[data-status="info"]:before {
    background-color: var(--azul-400);
}


/* ===== ícone para fechar mensagem ===== */
.mensagem .fechar {
    position: absolute;
    top: 10px;
    right: 15px;

    padding: 5px;
    opacity: 0.7;

    cursor: pointer;
}

.mensagem .fechar:hover {
    opacity: 1;
}

/* ===== Barra de progresso ===== */
.progresso {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 3px;
}

.progresso:before {
    position: absolute;
    right: 0;
    bottom: 0;
    
    width: 100%;
    height: 100%;
    
    content: "";
}

.ativo .progresso:before {
    animation: progresso 5s linear forwards;
}

.progresso.finalizado:before {
    right: 100%;
    animation: none;
}

@keyframes progresso {
    100% {
        right: 100%;
    }
}

/* ===== Responsividade ===== */
@media only screen and (max-width: 768px) {
    .mensagem {
        width: 70%;
    }   
}
