.mensagem {
    position: fixed;
    top: 25px;
    right: 30px;
    overflow: hidden;
    z-index: 100;
    
    width: 24vw;
    padding: 20px 35px 20px 25px;
    border-radius: 12px;
    background: #fff;
    box-shadow: var(--sombra);
    
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.mensagem.ativo {
    transform: translateX(0%);
}

.mensagem .mensagem__conteudo {
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 35px;
    min-width: 35px;
    border-radius: 50%;
    
    font-size: 20px;
    color: #fff;
}

.icon {
    position: relative;
}

.icon[data-status="success"] {
    background-color: var(--verde-300);
}

.icon[data-status="error"] {
    background-color: var(--rosa-400);
}

.icon[data-status="warning"] {
    background-color: var(--amarelo-400);
}

.icon[data-status="info"] {
    background-color: var(--azul-400);
}

.icon::before {
    position: absolute;
    font-family: var(--fonte-titulo);
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon[data-status="success"]::before {
    content: "✓";
}

.icon[data-status="error"]::before {
    content: "X";
}

.icon[data-status="warning"]::before {
    content: "!";
}

.icon[data-status="info"]::before {
    content: "i";
}

.progresso[data-status="success"]:before {
    background-color: var(--verde-300);
}

.progresso[data-status="error"]:before {
    background-color: var(--rosa-400);
}

.progresso[data-status="warning"]:before {
    background-color: var(--amarelo-400);
}

.progresso[data-status="info"]:before {
    background-color: var(--azul-400);
}

.mensagem__conteudo .mensagem__conteudo__texto {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.mensagem .fechar {
    position: absolute;
    top: 10px;
    right: 15px;

    padding: 5px;
    opacity: 0.7;

    cursor: pointer;
}

.mensagem .fechar:hover {
    opacity: 1;
}

.progresso {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 3px;
}

.progresso:before {
    position: absolute;
    right: 0;
    bottom: 0;
    
    width: 100%;
    height: 100%;
    
    content: "";
}

.ativo .progresso:before {
    animation: progresso 5s linear forwards;
}

.progresso.finalizado:before {
    right: 100%;
    animation: none;
}

@keyframes progresso {
    100% {
        right: 100%;
    }
}

/* Responsividade */
@media only screen and (max-width: 768px) {
    .mensagem {
        width: 70%;
    }   
}
