.menu-lateral {
    position: fixed;
    left: 0;
    top: 10px;
    bottom: 10px;
    height: auto;
    background-color: var(--preto-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    z-index: 1;
}
    
.menu-lateral__navegacao {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.menu-lateral__navegacao {
    margin-bottom: 10px;
}

.menu-lateral__navegacao a {
    margin-bottom: 1em;
    padding: .5rem 1rem;
}


.menu-lateral__navegacao a img {
    width: 2em;
}

.menu-lateral__navegacao__link-icone{
    position: absolute;
    top: 2rem;
}

.menu-lateral__navegacao__link-logout {
    position: absolute;
    bottom: 2rem;
}

.menu-lateral__navegacao__link img{
    filter: var(--azul-200-filtro);
}

.menu-lateral__navegacao .ativo {
    background-color: var(--preto-200);
    position: relative;
    border-radius: 5px;
}

.menu-lateral__navegacao .ativo img{
    filter: var(--azul-500-filtro);
}

.menu-lateral__navegacao .ativo::after {
    content: "";
    position: absolute;
    top: 50%;  /* Posicionado no centro vertical do elemento pai */
    transform: translateY(-50%);  /* Deslocar metade da altura para cima para centralizar */
    left: 0;
    height: 70%;  /* 50% da altura do elemento pai */
    width: 4px; 
    border-radius: 0 40px 40px 0;
    background-color: var(--azul-400);
}
