.menu-lateral {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid var(--preto-200);
    background-color: var(--preto-100);
    z-index: 1;
}
    
.menu-lateral__navegacao {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.menu-lateral__navegacao {
    margin-bottom: 10px;
}

.menu-lateral__navegacao a {
    margin-bottom: 1em;
    padding: .5rem 1rem;
    text-decoration: none;
}

.menu-lateral__navegacao a img {
    width: 1.5em;
}

.menu-lateral__navegacao__link {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-lateral__navegacao__link-icone{
    position: absolute;
    top: 2rem;
    font-weight: 600;
}

.menu-lateral__navegacao__link-icone img {
    width: 5rem;
}

.menu-lateral__navegacao__link-logout {
    position: absolute;
    bottom: 2rem;
}

.menu-lateral__navegacao .ativo {
    position: relative;
}

.menu-lateral__navegacao .ativo::after {
    content: "";
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    left: 0;
    height: 70%;
    width: 4px; 
    border-radius: 0 40px 40px 0;
    background-color: var(--preto-700);
}

.menu-lateral .toggle-button::before{
    content: '»'
}

.menu-lateral.open .toggle-button::before{
    content: '«'
}

.toggle-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 2;
    color: var(--preto-700);
    font-family: var(--fonte-titulo);
}

.menu-label {
    display: none;
    margin-left: 0;
    color: var(--preto-700);
}

.menu-lateral.open .menu-label {
    display: inline-block;
}
