.conteudo {
    height: auto;
    position: relative;
}

.tabela .botao {
    position: absolute;
    top: 0;
    right: 8rem;
}

.tabela {
    background-color: #FFF;
    margin-bottom: .5rem;
    overflow:hidden;
    border-collapse:separate;
    border: 1px solid var(--preto-200);
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    /* box-shadow: var(--sombra); */
    /* width: 100%;  */
}

.tabela__header {
    font-weight: 700;
}

.tabela__header th {
    text-align: left;
    background-color: var(--preto-100);
    padding: 1rem;
    font-family: var(--fonte-titulo);
    color: var(--preto-700)
}

.tabela__body {
    color: var(--preto-600);
}

.tabela__body td {
    padding: 1rem;
    vertical-align: middle;
    border-bottom: 1px solid var(--preto-200);
}

.tabela__body .tabela__nome-arquivo {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabela__body button {
    width: 1.2rem;
    height: 1.2rem;
    border: none;
    background-color: transparent;
}

.tabela__body button:hover {
    cursor: pointer;
}

.tabela__body .botao-renomear {
    background-image: url('../assets/icones/renomear.svg');
    background-size: cover;
}

.tabela__acoes .botao-excluir {
    background-image: url('../assets/icones/excluir.svg');
    background-size: cover;
}

.tabela__body .tabela__data-criacao {
    font-size: .8rem;
    color: var(--preto-500)
}

.tabela__imagem img {
    border: 1px solid var(--preto-300);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.tabela__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--preto-200);
}

.paginas__numero {
    margin-right: 2rem;
}

.botao-paginacao {
    border: 1px solid var(--preto-300);
    padding: .5rem 1rem;
    text-decoration: none;
    border-radius: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    top: .5rem;

    transition: all .25s;
}

.botao-paginacao--habilitado:hover {
    background-color: var(--preto-100);
    
    cursor: pointer;
}

.botao-paginacao--desabilitado {
    background-color: var(--preto-100);
    opacity: 0.6;
    cursor: not-allowed;
}

.anterior .botao-paginacao{
    left: 1rem;
}

.proximo .botao-paginacao{
    right: 1rem;
}


.botao-paginacao p {
    color: var(--preto-700);
}

.anterior .botao-paginacao img {
    transform: rotate(180deg);
}

.paginas__numero {
    text-decoration: none;
    color: var(--preto-500);
    font-size: 0.8rem;
}

.atual {
    color: var(--azul-500);
    font-weight: 600;
}

.custom-checkbox {
    position: relative;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}
  
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 5px;
    border: 1px solid var(--azul-100)
}
  
.custom-checkbox:hover input ~ .checkmark {
    background-color: var(--azul-50);
}

.custom-checkbox input:checked ~ .checkmark {
    background-color: var(--azul-200);
    border: 1px solid var(--azul-200)
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}
  
.custom-checkbox .checkmark:after {
    left: 7px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid var(--preto-50);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.tabela {
    width: 100%;
    table-layout: auto;
}

.tabela__acoes__div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

/* Responsividade */

@media (max-width: 768px) {
    .tabela {
        display: block;
        background-color: var(--preto-50);
        border: none;
    }

    .tabela__header {
        display: none;
    }

    .tabela__body {
        display: flex;
        flex-direction: column;
    }

    .tabela__body tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.625rem;
        border-radius: 5px;
        position: relative;
        border: 1px solid var(--preto-200);
        background-color: #FFF;
    }

    .tabela__body .tabela__checkbox {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        z-index: 1;
    }

    .tabela__body td:not(.tabela__checkbox):not(.tabela__imagem) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
    }

    .tabela__body td:not(.tabela__checkbox)::before {
        content: attr(data-title);
        font-weight: 500;
        color: var(--preto-700);
        font-size: .8rem;
    }
    
    .tabela__body .tabela__checkbox {
        border: none;
    }
    .tabela__body .tabela__imagem {
        display: flex;
        justify-content: center; /* Centraliza a imagem */
        align-items: center;
        height: 6rem;
    }

    .tabela__body .tabela__imagem img {
        display: block;
        margin: 0.5rem auto;
        width: 6rem;
        height: 6rem;
    }

    .tabela__body .tabela__acoes{
        width: auto;
    }

    .tabela__body td:last-child {
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
    }

    .tabela__body .tabela__acoes__div {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        border-top: none;
    }
}
