.conteudo__formulario {
    width: 30%;
}

.formulario__label input,
.formulario__label textarea {
    margin: .5rem 0 .5rem 0;
}

.conteudo__secao-perfil {
    width: 70vw;
    margin-bottom: 1rem;
}

.conteudo__secao-perfil .conteudo__descricao {
    padding-bottom: 1rem;
    margin: .8rem 0;
    border-bottom: 2px solid var(--preto-100);
}

.botao, .botao-vazado {
    margin: .5rem 0 .5rem 0;
}

/* ===== Responsividade ===== */
@media only screen and (max-width: 768px) {
    .conteudo__formulario {
        width: 100%;
    }
}

