.conteudo__formulario{
    justify-content: left;
    gap: 4rem;
}

.perfil__imagem {
    padding: 4rem;
    border-radius: 300px;
    margin-right: 2rem;
    background-color: var(--azul-50);
}

.perfil__imagem img {
    width: 10rem;
}


