.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 4rem 2rem 4rem;
}

.rodape__texto {
    color: var(--default-medium);
    padding-top: .5rem;
    font-size: 0.8rem;;
}