.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 8rem 4rem 2rem 4rem;
    margin-top: auto;
    background-color: var(--azul-800);
}

.rodape__texto {
    padding-top: .5rem;

    font-size: 0.8rem;
    color: var(--preto-50);
}
