.centralize {
    width: 25rem;
    display: flex;
    justify-content: center;
}

.conteudo {
    display: flex;
    align-items: center;
    overflow: hidden; 
}

.botao {
    margin: 4rem 0 1rem 0;
    width: 100%;
}

.conteudo__imagem {
    position: fixed; 
    top: 1rem;
    bottom: 1rem;
    right: 1rem; 
    width: 40%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 8rem 0 4rem;
}

.imagem-login {
    background: url('../assets/backgrounds/bg-login.svg') no-repeat;
    background-size: cover;
}

.imagem-cadastro {
    background: url('../assets/backgrounds/bg-cadastro.svg') top no-repeat;
    background-size: cover;
}

.conteudo__imagem__titulo {
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 4rem;
}

.conteudo__imagem__paragrafo {
    color: var(--azul-500);
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.formulario__group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 24rem;
    gap: 1rem;
}

.formulario__group input {
    width: 10.3rem;
}

